<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>Networks</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css"/>
  </head>

  <body>

    <!-- <div class="background">
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </div> -->

    <div id="slideCards" class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-active">
                <div class="card card-networks">
                    <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <a class="btn-network" href="https://www.linkedin.com/in/samuel-cupertino-618ba3218/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span>Linkedin</span>
                    </a>
                    <a class="btn-network" href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                    <a class="btn-network" href="https://github.com/samuelCupertino" target="_blank">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </a>
                    <a class="btn-network" href="https://codepen.io/samuelCupertino" target="_blank">
                        <i class="fab fa-codepen"></i>
                        <span>CodePen</span>
                    </a>
                    <a class="btn-network" href="mailto:contato.samuelcupertino@gmail.com" target="_blank">
                        <i class="far fa-envelope"></i>
                        <span>E-mail</span>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card card-github">
                    <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <div class="info">
                        <span class="user-name">@samuelCupertino</span>
                        <div class="followers">
                            <span class="num">10</span>
                            <span>seguidores</span>
                        </div>
                        <div class="following">
                            <span class="num">6</span>
                            <span>seguindo</span>
                        </div>
                        <a class="avatars" href="https://github.com/samuelCupertino?tab=followers" target="_blank">
                            <!-- dynamic -->
                        </a>
                    </div>
                    <div class="separator">
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="feed">
                        <!-- <article class="repository">
                            <h3 class="title">card-curve-outside</h3>
                            <p class="description">
                                Carde com efeito de curved outside e responsividade fluida.
                            </p>                       
                            <div class="updated_at">25/08/2021</div>
                            <div>
                                <i class="far fa-star"></i>
                                <span>7</span>
                            </div>
                        </article> -->

                        <!-- dynamic -->
                    </div>
                    <a class="btn-network" href="https://github.com/samuelCupertino" target="_blank">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card card-instagram">
                    <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <div class="info">
                        <span class="user-name">@samuelcupertino.dev</span>
                        <div class="followers">
                            <span class="num">251</span>
                            <span>seguidores</span>
                        </div>
                        <div class="following">
                            <span class="num">210</span>
                            <span>seguindo</span>
                        </div>
                        <div class="avatars">
                            <!-- dynamic -->
                        </div>
                    </div>
                    <div class="separator">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="feed">                        
                        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CSxgt_BsNhQ/?utm_source=ig_embed&amp;utm_campaign=loading" style="width: calc(100% - 5px); min-width: 0 !important;"></blockquote> 
                        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CTK6aZgpkO7/?utm_source=ig_embed&amp;utm_campaign=loadin" style="width: calc(100% - 5px); min-width: 0 !important;"></blockquote> 
                        <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CSqPeBTMUG4/?utm_source=ig_embed&amp;utm_campaign=loading" style="width: calc(100% - 5px); min-width: 0 !important;"></blockquote>
                        
                        <!-- <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-heart"></i>
                                <span>8</span>
                            </div>
                        </article> -->
                        <!-- dynamic -->
                    </div>
                    <a class="btn-network" href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card card-instagram">
                    <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <div class="info">
                        <span class="user-name">Samuel Cupertino</span>
                        <div class="followers">
                            <span class="num">11</span>
                            <span>Conexões</span>
                        </div>
                        <!-- <div class="following">
                            <span class="num">210</span>
                            <span>seguindo</span>
                        </div> -->
                        <div class="avatars">
                            <!-- dynamic -->
                        </div>
                    </div>
                    <div class="separator">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <div class="feed">
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-thumbs-up"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-thumbs-up"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-thumbs-up"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-thumbs-up"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-thumbs-up"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <!-- dynamic -->
                    </div>
                    <a class="btn-network" href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span>Linkedin</span>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card card-instagram">
                    <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <div class="info">
                        <span class="user-name">@samuelCupertino</span>
                        <div class="followers">
                            <span class="num">0</span>
                            <span>seguidores</span>
                        </div>
                        <div class="following">
                            <span class="num">0</span>
                            <span>seguindo</span>
                        </div>
                        <div class="avatars">
                            <!-- dynamic -->
                        </div>
                    </div>
                    <div class="separator">
                        <i class="fab fa-codepen"></i>
                    </div>
                    <div class="feed">
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-heart"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                       
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-heart"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                       
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-heart"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-heart"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <article class="post">
                            <p class="description"></p>                    
                            <div class="pusblish"></div>
                            <div>
                                <i class="far fa-heart"></i>
                                <span>8</span>
                            </div>
                        </article>
                        <!-- dynamic -->
                    </div>
                    <a class="btn-network" href="https://codepen.io/samuelCupertino" target="_blank">
                        <i class="fab fa-codepen"></i>
                        <span>CodePen</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination"></div>
    </div>
    <script async src="//www.instagram.com/embed.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        setTimeout(() => {
            const swiper = new Swiper('#slideCards', {
                loop: true,
                effect: 'cards',
                grabCursor: true,
                pagination: {
                    el: '.swiper-pagination',
                },
            })
        }, 3000)

        const cardInstagram = async () => {
            const followers = 253
            const following = 212

            const followersNumEl = document.querySelector('.card-instagram .followers .num')
            const followingNumEl = document.querySelector('.card-instagram .following .num')
            followersNumEl.textContent = followers
            followingNumEl.textContent = following

            console.log(document.querySelector('.FollowerCountText').innerText)
        }

        const cardGitHub = async user => {
            const userData = await fetch(`https://api.github.com/users/${user}`)
            const followersData = await fetch(`https://api.github.com/users/${user}/followers`)
            const reposData = await fetch(`https://api.github.com/users/${user}/repos`)
            
            // update cache
            if(userData.ok && followersData.ok && reposData.ok) {
                const cardGitHub = { followers, following } = await userData.json()

                const arrFollowersData = await followersData.json()
                cardGitHub.arrFollowers = arrFollowersData
                    .sort(() => Math.random() > 0.5)
                    .slice(0, 10)

                const arrReposData = await reposData.json()
                cardGitHub.arrRepos = arrReposData
                    .filter(e => e.description)
                    .sort((a, b) => a.updated_at > b.updated_at? -1:1)
                    .slice(0, 10)

                localStorage.cardGitHub = JSON.stringify(cardGitHub)
            }

            if(localStorage.cardGitHub) {
                const {followers, following, arrFollowers, arrRepos} = JSON.parse(localStorage.cardGitHub)

                const followersNumEl = document.querySelector('.card-github .followers .num')
                const followingNumEl = document.querySelector('.card-github .following .num')
                followersNumEl.textContent = followers
                followingNumEl.textContent = following

                const avatarsEl = document.querySelector('.card-github .avatars')
                arrFollowers.forEach(({avatar_url, login}) =>
                    avatarsEl.insertAdjacentHTML('beforeend', `<img src="${avatar_url}" alt="${login}">`))
                    
                const feedEl = document.querySelector('.card-github .feed')
                arrRepos.forEach(({stargazers_count, updated_at, name, description, html_url}) => {
                    const dateBR = updated_at.replace(/(\d{4})-(\d{2})-(\d{2}).*/, '$3/$2/$1')
                    feedEl.insertAdjacentHTML('beforeend', `
                        <a class="repository" href="${html_url}" target="_blank">
                            <h3 class="title">${name}</h3>
                            <p class="description">${description}</p>                       
                            <div class="updated_at">${dateBR}</div>
                            <div>
                                <i class="far fa-star"></i>
                                <span>${stargazers_count}</span>
                            </div>
                        </a>
                    `)
                })
                console.log({followers, following, arrFollowers, arrRepos})
            }
        }
        cardGitHub('samuelCupertino')
    </script>
  </body>
</html>