<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <title>Networks</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css"/>
  </head>

  <body>

    <!-- <div class="background">
        <div class="stars1"></div>
        <div class="stars2"></div>
        <div class="stars3"></div>
    </div> -->

    <div id="slideCards" class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide-active">
                <div class="card card-networks">
                    <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <a class="btn-network" href="https://www.linkedin.com/in/samuel-cupertino-618ba3218/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span>Linkedin</span>
                    </a>
                    <a class="btn-network" href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                    <a class="btn-network" href="https://github.com/samuelCupertino" target="_blank">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </a>
                    <a class="btn-network" href="https://codepen.io/samuelCupertino" target="_blank">
                        <i class="fab fa-codepen"></i>
                        <span>CodePen</span>
                    </a>
                    <a class="btn-network" href="mailto:contato.samuelcupertino@gmail.com" target="_blank">
                        <i class="far fa-envelope"></i>
                        <span>E-mail</span>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card card-github">
                    <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <div class="info">
                        <span class="user-name">Samuel Cupertino</span>
                        <div class="followers">
                            <span class="num">10</span>
                            <span>seguidores</span>
                        </div>
                        <div class="following">
                            <span class="num">6</span>
                            <span>seguindo</span>
                        </div>
                        <div class="avatars">
                            <!-- dynamic -->
                        </div>
                    </div>
                    <div class="separator">
                        <i class="fab fa-github"></i>
                    </div>
                    <div class="repos">
                        <article class="repository">
                            <h3 class="title">card-curve-outside</h3>
                            <p class="description">
                                Carde com efeito de curved outside e responsividade fluida.
                            </p>                       
                            <div class="updated_at">25/08/2021</div>
                            <div>
                                <i class="far fa-star"></i>
                                <span>7</span>
                            </div>
                        </article>
                        <article class="repository">
                            <h3 class="title">card-curve-outside</h3>                         
                            <div>7</div>
                            <span class="publish_at">23:21 25/08/2021</span>                         
                            <span class="updated_at">23:21 25/08/2021</span>                         
                            <p class="description">
                                null null null
                                null null null
                            </p>   
                        </article>
                        <article class="repository">                        
                            <h3 class="title">card-curve-outside</h3>                         
                            <div>7</div>                         
                            <span class="publish_at">23:21 25/08/2021</span>                         
                            <span class="updated_at">23:21 25/08/2021</span>                         
                            <p class="description">
                                null null null
                                null null null
                            </p>   
                        </article>
                        <article class="repository">                        
                            <h3 class="title">card-curve-outside</h3>                         
                            <div>7</div>                         
                            <span class="publish_at">23:21 25/08/2021</span>                         
                            <span class="updated_at">23:21 25/08/2021</span>                         
                            <p class="description">
                                null null null
                                null null null
                            </p>   
                        </article>
                        <!-- dynamic -->
                    </div>
                    <a class="btn-network" href="https://github.com/samuelCupertino" target="_blank">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="card">
                    <!-- <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil"> -->
                    
                    <a class="btn-network" href="https://www.linkedin.com/in/samuel-cupertino-618ba3218/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span>CodePen</span>
                    </a>                    
                </div>
            </div>


        </div>

        <div class="swiper-pagination"></div>
    </div>
    
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        setTimeout(() => {
            const swiper = new Swiper('#slideCards', {
                effect: 'cards',
                grabCursor: true,
                pagination: {
                    el: '.swiper-pagination',
                },
            })
        }, 3000)

        const cardGitHub = async user => {
            const userData = await fetch(`https://api.github.com/users/${user}`)
            if(userData.ok) {
                const {avatar_url, followers, following, public_repos} = await userData.json()
                const followersData = await fetch(`https://api.github.com/users/${user}/followers`)

                const followersNumEl = document.querySelector('.card-github .followers .num')
                const followingNumEl = document.querySelector('.card-github .following .num')

                followersNumEl.textContent = followers
                followingNumEl.textContent = following
            }
            
            const followersData = await fetch(`https://api.github.com/users/${user}/followers`)
            if(followersData.ok) {
                const arrFollowers = await followersData.json()
                const arrFollowersRand = arrFollowers.sort(() => Math.random() > 0.5)
                const avatarsEl = document.querySelector('.card-github .avatars')

                arrFollowersRand.forEach(({avatar_url, login}) =>
                    avatarsEl.insertAdjacentHTML('beforeend', `<img src="${avatar_url}" alt="${login}">`))
            }

            const reposData = await fetch(`https://api.github.com/users/${user}/repos`)
            if(reposData.ok) {
                const arrRepos = await reposData.json()

                const reposEl = document.querySelector('.card-github .repos')
               
                // arrRepos.forEach(({stargazers_count, pushed_at, updated_at, name, description}) =>
                //     reposEl.insertAdjacentHTML('beforeend', `
                //         <article class="repository">                        
                //             <div>${name}</div>                         
                //             <div>${stargazers_count}</div>                         
                //             <div>${pushed_at}</div>                         
                //             <div>${updated_at}</div>                         
                //             <div>${description}</div>   
                //         </article> 
                //     `)) 
                console.log(R = arrRepos)
            }
        }
        cardGitHub('samuelCupertino')
    </script>
  </body>
</html>