<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Networks</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css"/>
    </head>
    <body>
        <div class="background">
            <div class="stars1"></div>
            <div class="stars2"></div>
            <div class="stars3"></div>
        </div>

        <div class="card-container">
            <section class="card-wapper">
                <div class="card">
                </div>
                <div class="card">
                </div>

                <div class="card">
                    <img src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                    <div class="networks">
                    <a href="https://www.linkedin.com/in/samuel-cupertino-618ba3218/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                        <span>Linkedin</span>
                    </a>
                    <a href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                        <i class="fab fa-instagram"></i>
                        <span>Instagram</span>
                    </a>
                    <a href="https://github.com/samuelCupertino" target="_blank">
                        <i class="fab fa-github"></i>
                        <span>GitHub</span>
                    </a>
                    <a href="https://codepen.io/samuelCupertino" target="_blank">
                        <i class="fab fa-codepen"></i>
                        <span>CodePen</span>
                    </a>
                    <a href="mailto:contato.samuelcupertino@gmail.com" target="_blank">
                        <i class="far fa-envelope"></i>
                        <span>E-mail</span>
                    </a>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script>
        const swipeCard = dir => {
            const cardWapperEl = document.querySelector('.card-wapper')
            const [cardSel, where] = dir=='left' 
                ? ['.card:last-child','afterBegin'] : ['.card:first-child','beforeend']
            const cardEl = cardWapperEl.querySelector(cardSel)
            cardWapperEl.insertAdjacentElement(where, cardEl)
            cardWapperEl.classList.add('swipe')
        }

        const swipeEvent = {
            arrSwipe: [],            
            check() {
                const strSwipe = JSON.stringify(this.arrSwipe)
                const strSwipeASC = JSON.stringify(this.arrSwipe.sort())
                const strSwipeDESC = JSON.stringify(this.arrSwipe.sort((a, b)=> b-a))

                if(strSwipe == strSwipeASC)               
                    swipeCard('right')
                else if(strSwipe == strSwipeDESC)
                    swipeCard('left')
            },            
            init() {
                const cardWapperEl = document.querySelector('.card-wapper')
                cardWapperEl.addEventListener('touchstart', ()=> this.arrSwipe = [])
                cardWapperEl.addEventListener('touchmove', ()=> this.arrSwipe.push(event.touches[0].pageX))
                cardWapperEl.addEventListener('touchend', ()=> this.check())
            }
        }
        swipeEvent.init()
    </script>
</html>
