<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
        <title>Networks</title>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="style.css"/>
    </head>

    <body>
        <div class="background">
            <div class="stars1"></div>
            <div class="stars2"></div>
            <div class="stars3"></div>
        </div>

        <div id="slideCards" class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active">
                    <div class="card card-all-networks">
                        <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                        <a class="btn-network" href="https://www.linkedin.com/in/samuel-cupertino-618ba3218/" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                            <span>Linkedin</span>
                        </a>
                        <a class="btn-network" href="https://github.com/samuelCupertino" target="_blank">
                            <i class="fab fa-github"></i>
                            <span>GitHub</span>
                        </a>
                        <a class="btn-network" href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                        <a class="btn-network" href="https://codepen.io/samuelCupertino" target="_blank">
                            <i class="fab fa-codepen"></i>
                            <span>CodePen</span>
                        </a>
                        <a class="btn-network" href="mailto:contato.samuelcupertino@gmail.com" target="_blank">
                            <i class="far fa-envelope"></i>
                            <span>E-mail</span>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-network card-linkedin">
                        <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                        <div class="info">
                            <span class="user-name">Samuel Cupertino</span>
                            <div class="connections">
                                <span class="num">30</span>
                                <span>Conexões</span>
                            </div>
                        </div>
                        <div class="separator">
                            <span class="hr"></span>
                            <i class="fab fa-linkedin-in"></i>
                            <span class="hr"></span>
                        </div>
                        <div class="feed">
                            <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6848196942070132736" height="566" width="504" frameborder="0" allowfullscreen="" title="Publicação incorporada"></iframe>
                            <!-- dynamic -->
                        </div>
                        <a class="btn-network" href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                            <i class="fab fa-linkedin-in"></i>
                            <span>Linkedin</span>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-network card-github">
                        <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                        <div class="info">
                            <span class="user-name">@samuelCupertino</span>
                            <div class="followers">
                                <span class="num">10</span>
                                <span>seguidores</span>
                            </div>
                            <div class="following">
                                <span class="num">6</span>
                                <span>seguindo</span>
                            </div>
                            <a class="avatars" href="https://github.com/samuelCupertino?tab=followers" target="_blank">
                                <!-- dynamic -->
                            </a>
                        </div>
                        <div class="separator">
                            <span class="hr"></span>
                            <i class="fab fa-github"></i>
                            <span class="hr"></span>
                        </div>
                        <div class="feed">
                            <!-- dynamic -->
                        </div>
                        <a class="btn-network" href="https://github.com/samuelCupertino" target="_blank">
                            <i class="fab fa-github"></i>
                            <span>GitHub</span>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-network card-instagram">
                        <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                        <div class="info">
                            <span class="user-name">@samuelcupertino.dev</span>
                            <div class="followers">
                                <span class="num">251</span>
                                <span>seguidores</span>
                            </div>
                            <div class="following">
                                <span class="num">210</span>
                                <span>seguindo</span>
                            </div>
                        </div>
                        <div class="separator">
                            <span class="hr"></span>
                            <i class="fab fa-instagram"></i>
                            <span class="hr"></span>
                        </div>
                        <div class="feed">                        
                            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CSxgt_BsNhQ/?utm_source=ig_embed&amp;utm_campaign=loading" style="width: calc(100% - 5px); min-width: 0 !important;"></blockquote> 
                            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CTK6aZgpkO7/?utm_source=ig_embed&amp;utm_campaign=loadin" style="width: calc(100% - 5px); min-width: 0 !important;"></blockquote> 
                            <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/p/CSqPeBTMUG4/?utm_source=ig_embed&amp;utm_campaign=loading" style="width: calc(100% - 5px); min-width: 0 !important;"></blockquote>
                            <!-- dynamic -->
                        </div>
                        <a class="btn-network" href="http://instagram.com/_u/samuelcupertino.dev" target="_blank">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="card card-network card-codepen">
                        <img class="profile" src="https://avatars.githubusercontent.com/u/88355379?v=4" alt="foto de perfil">
                        <div class="info">
                            <span class="user-name">@samuelCupertino</span>
                            <div class="followers">
                                <span class="num">0</span>
                                <span>seguidores</span>
                            </div>
                            <div class="following">
                                <span class="num">0</span>
                                <span>seguindo</span>
                            </div>
                            <div class="avatars">
                                <!-- dynamic -->
                            </div>
                        </div>
                        <div class="separator">
                            <span class="hr"></span>
                            <i class="fab fa-codepen"></i>
                            <span class="hr"></span>
                        </div>
                        <div class="feed">
                            <p class="codepen" data-height="300" data-default-tab="result" data-slug-hash="vYZYdGZ" data-user="samuelCupertino" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"></p>
                            <p class="codepen" data-height="300" data-default-tab="result" data-slug-hash="jOmRQyp" data-user="samuelCupertino" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"></p>
                            <p class="codepen" data-height="300" data-default-tab="result" data-slug-hash="JjJYzNK" data-user="samuelCupertino" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"></p>
                        </div>
                        <a class="btn-network" href="https://codepen.io/samuelCupertino" target="_blank">
                            <i class="fab fa-codepen"></i>
                            <span>CodePen</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
        
        <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
        <script async src="//www.instagram.com/embed.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="./script.js"></script>
    </body>
</html>